ADMIN_USERNAME = <your-db-user>
ADMIN_PASSWORD = <your-db-password>
DATABASE_NAME = examdb
DIALECT = mysql
DIALECTMODEL = mysql2
PORT = 3000
HOST = localhost
JWT_SECRET = <random-long-string>
JWT_EXPIRES_IN = 2h
IGDB_CLIENT_ID = <your-IGDB-id>
IGDB_CLIENT_SECRET <your-IGDB-secret>
BCRYPT_ROUNDS = 10